.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
::selection {
  background: rgb(0, 0, 0);
  color: rgb(0, 0, 0);
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/*  */
.App {
  width: 400px;
  margin: 0 auto;
  font-family: sans-serif;
  text-align: center;
}

.ekleme_formu input,
.ekleme_formu button,
.temizle {
  padding: 5px;
  border: 0;
  outline: 0;
  font-size: 16px;
}

.ekleme_formu input {
  background: #e1e1e2;
  padding: 10px;
}

.ekleme_formu button,
.temizle {
  background: #333;
  color: white;
  padding: 10px;
  cursor: pointer;
}

.liste {
  padding: 20px 0;
}

.liste > div {
  padding: 8px 0;
  border-bottom: 1px solid #ccc;
  font-size: 20px;
  text-transform: capitalize;
  cursor: pointer;
}

.liste > div:last-child {
  border-bottom: 0;
}

.yapildi {
  text-decoration: line-through red;
  transition: all ease 1s;
}
h1 {
  font-size: 43px;
}
